<div class="home-wrapper">
  <div class="home-content text-center">
    <h1 class="text-glow mb-4">🌠 Bienvenue dans Ma Biblio</h1>
    <p class="lead mb-5">
      Gère ta bibliothèque personnelle dans l’univers. Connecte-toi ou inscris-toi pour commencer ton voyage littéraire.
    </p>

    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <a *ngIf="!isLoggedIn()" routerLink="/login" class="btn btn-space">🚀 Connexion</a>
      <a *ngIf="!isLoggedIn()" routerLink="/register" class="btn btn-space">Créer un compte</a>
      <a *ngIf="isLoggedIn()" routerLink="/books" class="btn btn-outline-info">📚 Mes livres</a>
    </div>
  </div>
</div>
